body{
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5{
	color: #015c65;
	font-weight: bold;
}

h1{
	font-size: 32px;
}

h2{
	font-size: 28px;
}

h3{
	font-size: 24px;
}

h4{
	font-size: 18px;
}

h5{
	font-size: 16px;
}

.page{
	margin: 0 auto;
	width: 960px;
}

.header{
	height: 200px;
	background-color: #6d89d5;
}

.section{
	padding: 24px 18px
}

.section-title{
	text-align: center;
	margin: 14px 0 22px;
}

.lifted {
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-border-radius:4px;
}
 
.lifted:before,
.lifted:after {
    content:"";
    position:absolute;
    z-index:-2;
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    -webkit-box-shadow:0 15px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:0 15px 6px rgba(0, 0, 0, 0.75);
    box-shadow:0 15px 6px rgba(0, 0, 0, 0.75);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -ms-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    transform:rotate(-3deg);
}
 
.lifted:after {
    right:10px;
    left:auto;
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    transform:rotate(3deg);
}

.raised {
    position:relative;
    width:60%;
    padding:1em;
    margin:2em 10px 4em;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 10px 5px -10px rgba(0, 0, 0, 0.75), 0 5px 4px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 10px 5px -10px rgba(0, 0, 0, 0.75), 0 5px 4px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 10px 5px -10px rgba(0, 0, 0, 0.75), 0 5px 4px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.15) inset;
}        
 
.raised:before,
.raised:after {
    content:"";
    position:absolute;
    z-index:-2;
}
 
.raised p {
    font-size:16px;
    font-weight:bold;
}

li .raised {
	font-size: 16px;
}

.curved-hz-2 {
    position:relative;
    width:40%;
    padding:1em;
    background:#fff;
    -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.75), 0 0 40px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.75), 0 0 40px rgba(0, 0, 0, 0.15) inset;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.75), 0 0 40px rgba(0, 0, 0, 0.15) inset;
}
 
.curved-hz-2:before,
.curved-hz-2:after {
    content:"";
    position:absolute;
    z-index:-2;
}
 
.curved-hz-2:before {
    top:0px;
    bottom:0px;
    left:10px;
    right:10px;
    -webkit-box-shadow:0 0 5px rgba(0,0,0,0.75);
    -moz-box-shadow:0 0 5px rgba(0,0,0,0.75);
    box-shadow:0 0 5px rgba(0,0,0,0.75);
}
 
.curved-hz-2 p {
    font-size:16px;
    font-weight:bold;
}