body{
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5{
	color: #015c65;
    /*color: #0c7591;*/
	font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1{
	font-size: 32px;
}

h2{
	font-size: 28px;
}

h3{
	font-size: 24px;
}

h4{
	font-size: 18px;
}

h5{
	font-size: 16px;
}

.light{
    text-shadow: 2px 6px 5px rgba(0,0,0,0.8), 
                 0px -2px 120px rgba(32,240,25,0.6);
    color: #25790c;
}

.dashed{
    text-decoration: underline;
}

.page .header .light{
    text-shadow: 2px 6px 5px rgba(0,0,0,0.8), 
                 0px -2px 120px rgba(32,240,25,0.6);
    color: #25790c;
}

.wrapper{
    background: url(../images/bg.jpg) repeat;
}

.header{
	height: 320px;
    background: url(../images/header.jpg) no-repeat;
}

.header .phones{
    margin-top: 46px;
}

.header .phones .phone{
    background-color: transparent;
    border-bottom: 1px solid #353336;
    border-right: 1px solid #353338;
    border-top: 1px solid #151318;
    border-left: 1px solid #151318;
    box-shadow: 0px 0px 10px #353336;
    color: #ddd;
}

.header .list-unstyled li{
    font-size: 24px;
    margin-bottom: 6px;
}

span.mts{
    color: white;
    background-color: red;
}

span.velcom{
    color: black;
    background-color: yellow;
}

.page .jumbotron {
    padding: 0 36px 24px 32px;
}

.page .jumbotron h1 {
    font-size: 40px;
    text-shadow: 0px 4px 6px #111;
    color: #888;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
}

.page .jumbotron .col-md-4 {
    padding-top: 10px;
}

.well .items-group{
    margin-top: 32px;
}

.well .items-group h3{
    font-size: 32px;
    background-color: #25790c;
    height: 70px;
    padding-top: 14px;
    padding-left: 10px;
    margin-left: -20px;
    margin-right: -20px;
    box-shadow: inset 0px -5px 10px -5px rgba(0,0,0,0.5), 
                inset 0px 5px 10px -5px rgba(0,0,0,0.5);
    color: #ddd;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

.well .items-group li span{
    color:green; 
    font-size:12px;
}

.well .items-group img{
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.6);
}

.well .caption{
    padding-top: 14px;
    text-align: center;
}

.well .caption h2{
    font-size: 40px;
    text-shadow: 1px 1px 1px rgba(125,125,125,.9);
}

.panel .panel-heading .panel-title{
    font-size: 22px;
}

.panel .panel-heading .panel-title .badge{
    font-size: 24px;
    background-color: #015c65;
}

.page .well, .page .header{
    box-shadow: #111 0px 0px 8px 1px;
    border: 1px solid #222;
}

.well ul.enumeration{
    color: #0c7591;
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
    margin-top: 20px;
}

.well ul.enumeration li{
    padding-bottom: 10px;
}

.list-group a{
    font-size: 18px;
}

.page .advantage .item{
    margin: 16px 0;
    color: #3c763d;
    font-size: 21px;
    height: 68px;
}

.page .advantage .item img{
    margin: 0 14px;
}

.page .footer{
    margin-top: 44px;
    border: none;
}

.footer h4{
    text-align: center;
    font-size: 32px;
}

.bs-callout-info {
    background-color: #F4F8FA;
    border-color: #5BC0DE;
}
.bs-callout {
    border-left: 4px solid #EEEEEE;
    margin: 20px 0;
    padding: 20px;
}
