body{
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5{
	color: #015c65;
	font-weight: bold;
}

h1{
	font-size: 32px;
}

h2{
	font-size: 28px;
}

h3{
	font-size: 24px;
}

h4{
	font-size: 18px;
}

h5{
	font-size: 16px;
}

.page{

}

.header{
	height: 200px;
	background-color: #6d89d5;
}

.page .jumbotron {
    padding: 0 24px 24px 50px;
}

.page .jumbotron h1 {
    font-size: 44px;
}

.page .jumbotron .col-md-4 {
    padding-top: 10px;
}

.bs-callout-info {
    background-color: #F4F8FA;
    border-color: #5BC0DE;
}
.bs-callout {
    border-left: 4px solid #EEEEEE;
    margin: 20px 0;
    padding: 20px;
}